{% extends "layout.html" %}

{% block content %}
<div class="alert success" style="display:{{success}};"><b>Onnistui!</b> Kategoria lisätty</div><br/>
<div class="topic">Lisää kategoria</div>

<div class="category">

  <div class="topics">
   <form method="POST" action="">
    Aihe<br/>
    <input type="text" name="topic"/><br/>
    Kuvaus<br/>
    <input type="text" name="description"/><br/>
    <input type="submit" value="Tallenna"/><br/>
  </form>
 </div>
 <div style="clear:both;"></div>
</div>
{% endblock %}
