        {% extends "layout.html" %}

        {% block content %}

        <div class="topic">Kategoriat <span style="display:block;float:right;font-size:0.8em;"><a href="/category/add">Lisää</a></span></div>
        {% for category in categories %}
        <div class="category">
            <div class="topics">
              <a href="category/?id={{category.id}}"><div class="topic">{{category.topic}}</div></a>
              <div class="subtopic">{{category.description}}</div>
            </div>
            <div class="right-info">
              <div class="information">
                <div class="smalltext"></div>
                  <div class="smalltext"><a href="/category/edit/?id={{category.id}}">Muokkaa</a> </div>
              </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        {% endfor %}
        {% endblock %}
